// Related to endless_input
.hide-with-z-index {
	z-index: -9999;
}

.inline-label {
	display: inline-block;
	margin: 0px 5px;
}

.nom-name {
	margin: 20px 0px 10px 0px;
}

.nom-form {
	margin: 150px 0;
}

form {
	border: 1px solid red;
}