// Related to endless_input
.hide-with-z-index {
	z-index: -9999;
}

input[type="text"].restaurant-input {
	width: 50%;
}

.endless-hidden {
	display: none !important;
}

.endless-input-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #B2B2B2;
	display: inline-block;
	position: relative;
}

.endless-input-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #B2B2B2;
	display: inline-block;
	position: relative;
}

////////////
.inline-label {
	display: inline-block;
	margin: 0px 5px;
}

.nom-name {
	margin: 20px 0px 10px 0px;
}

.nom-form {
	margin: 150px 0;
}

form {
	border: 1px solid red;
}